$primary-font: 'Open Sans', sans-serif;
$background-color: rgb(39, 39, 39);
$nav-background-color: rgb(146, 146, 146);
$footer-background-color: rgb(85, 85, 85);
$header-background-color: rgb(113, 113, 113);
$container-max-width: 1200px;
