@media (max-width: 768px) {
  .flexcontenedor-fotos {
    display: flex;
    
    align-items: center;
    padding: 40px;
    justify-content: center;
    max-width: 90%;
    gap: 15px;
  flex-direction: column;

  .fotos-imagen {
    
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
  }
  }
  .section-hilos {

    .hilos-texto {
      flex-direction: column;
      justify-content: space-around;
      width: 100vw;
      height: auto;

    }
  }
  .informacion-prueba {
    background-color: azure;
    margin-top: 10px;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-bottom:5px ;
  }
}
@media (max-width: 391px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  main {
    min-height: 40%;
  }
  .flexcontenedor-fotos {
    display: flex;
    
    align-items: center;
    padding: 40px;
    justify-content: center;
    max-width: 90%;
    gap: 15px;
  flex-direction: column;
  
  .fotos-imagen {
  

    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
  }
}
  .hilos-texto {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height:40vw ;
    padding-top: 40px;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }

  header h1 {
    text-align: center;
    font-size: 50px;
    background-color: rgb(113, 113, 113);
    margin-bottom: 0;
  }

  .footer {
    background-color: rgb(85, 85, 85);
    text-align: center;
    color: aliceblue;
    height: 20%;
    display: flex;
    width: 100%;
    padding-top: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .informacion-prueba {
    background-color: azure;
    margin-top: 10px;
    width: 70%;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-bottom:5px ;
  }
  
}



  
  