
@import "./_variables.scss";

@import "./_stilos\ globales.scss";

@import "./_nav.scss";

@import "./_footer.scss";
main {
  min-height: 40%;
}

@import "./_index.scss";

header {
  h1 {
    text-align: center;
    font-size: 100px;
    background-color: $header-background-color;
    margin-bottom: 0;
  }
}

@import "./_fotos.scss";

@import "./_hilos.scss";

@import "./_informacion.scss";

@import "./_contactame.scss";

@import "./_reponsive.scss";




