
@import "./-variables.scss";

@import "./-stilos\ globales.scss";

@import "./-nav.scss";

@import "./-footer.scss";
main {
  min-height: 40%;
}

@import "./-index.scss";

header {
  h1 {
    text-align: center;
    font-size: 100px;
    background-color: $header-background-color;
    margin-bottom: 0;
  }
}

@import "./-fotos.scss";

@import "./-hilos.scss";

@import "./-informacion.scss";

@import "./-contactame.scss";

@import "./-reponsive.scss";




